<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    @Scripts.Render("~/bundles/d3")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/dc")
    @Styles.Render("~/Content/dc")

    <div>
    @RenderBody()
    </div>
</body>
</html>
